.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.sign-in-container a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
   
}
.sign-in-container span {
	font-size: 12px;
}